.list-group-item {
  cursor: pointer;
}

.true {
  text-decoration: line-through;
}

.list-group-item>.glyphicon-trash {
  margin-top: 2px;
  float: right;
  text-decoration: none;
}

.list-group-item>.glyphicon-trash:hover {
  color: red;
}
