body {
  background-color: #fafafa;
}
.list-group-item {
  cursor: pointer;
  background-color: #fafafa;
  border: solid 1px #dbdbdb;
  color: #999;
}

.form-control {
  background-color: #fafafa;
  border: solid 1px #dbdbdb;
  box-shadow: none;
  color: #999;
}

.form-control:focus {
  background-color: #fff;
  border: solid 1px #dbdbdb;
  box-shadow: none;
}

.true {
  text-decoration: line-through;
}

.list-group-item>.glyphicon-trash {
  margin-top: 2px;
  float: right;
  text-decoration: none;
}

.list-group-item>.glyphicon-edit {
  margin-top: 2px;
  float: right;
  text-decoration: none;
  padding-right: 5px;
}

.list-group-item>.glyphicon-trash:hover {
  color: red;
}

.jumbotron {
  background-color: #fff;
  margin-left: 0px;
}
